{{ documentation }}

{% for object in members %}
{{header}} `{{ object.type }} {{ object.call }}`

{% if object.documentation %}{{ object.documentation }}{% endif %}
{% if object.members %}
{% for method in object.members %}
{{header}}# `{{object.name}}#{{ method.call }}`

{% if method.documentation %}{{ method.documentation }}{% endif %}

{% endfor %}
{% endif %}

{% if not loop.last %}---{% endif %}

{% endfor %}